/* universal */
*{
    color:black;
    background:white;
}
/* selector list*/
h1,h2{
    color:blue;
}
/* id selector */
#comment{
    background:red;
}
/* class selector */
.tag{
    background:red;
}
/* descendant selector */
/* anchor text <a> nested inside a list <li> */
li a{ 
    color:teal;
}
/* adjacent selector */
/* select only paragraphs that come right after h1 */
h1+p{
    color:red;
}
/* direct child */
/* select only the <li>'s that are direct children of a <div> element */
div > li{
    color:white;
}
/* attribute selector */
/* select all input elements where the type attribute is set to text */
input[type="text"]{
    width:300px;
    color:yellow;
}
a[href*="home"]{
    font-size:40px;
    color:greenyellow;
}

/* Pseudo class 
keyword added to a selector that specifies a special state of the selected elements
active
checked
fist
first-child
hover
not()
nth-child
nth-of-type()
*/
a:hover{
    color:orange;
}
button:hover{
    background-color: aqua;
    color:blue;
    text-decoration: underline wavy;
}

/* Pseudo-elements
:: after
::backdrop
::first-letter
::first-line
::selection
*/
h2::first-letter{
    font-size:20px;
}
p::first-line{
    color:purple;
}
/* Specificity: the browser decides which element to show - the more specific the selector, the more chance of its winning
inline style > id > class > element
*/
/* !important - win automatically - not recommended to use
.foo[style=""]{
    color:red !important;
}
 */

 /* Box model - the concept that everything is a box in CSS
 Border (Border radius)
 Padding
 Margin
 Width & Height
 Display Property
 Units - Percentage, EMS & REMS
 */
