@font-face{
    font-family:"ALEX BRUSH"
    src: url(../fonts/AlexBrush-Regular.ttf) format("truetype");
}
p{
    font-family: Arial;
    font-weight: 500;
    font-size: 15px;
    font-style:italic;
    line-height:45px;
    /* text-decoration: line-through; 
        text-transform: uppercase;
        letter-spacing: 15px;
        word-spacing: 10px;
    
        ;*/
}