/*
One dimensional box for layout structure of a web page 
space dynamically across elements

Flex model : (lefttoright by default)
Main axis
Cross Axis
*/
h1{
    text-align:center;
}
#container{
    background-color:cornflowerblue;
    width:90%;
    height:500px;
    margin:0 auto;
    border:5px solid #003049;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
}
#container div{
    width: 150px;
    height:150px;
}
