/*
One dimensional box for layout structure of a web page 
space dynamically across elements

Flex model :
Main axis (left to right by default)
Cross Axis (top to bottom ny default)
*/
h1{
    text-align:center;
}
#container{
    background-color:cornflowerblue;
    width:90%;
    height:500px;
    margin:0 auto;
    border:5px solid #003049;
    display:flex;
    flex-direction:row; /* main axis*/
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start; /* cross axis*/
    /* baseline - align text*/
    /* align-content: center; */
    align-self: flex-end;
}
#container div{
    width: 150px;
    height:150px;
}
div:nth-of-type(2){
    align-self:center;
}