/*
One dimensional box for layout structure of a web page 
space dynamically across elements
*/
h1{
    text-align:center;
}
#container{
    background-color:cornflowerblue;
    width:90%;
    height:500px;
    margin:0 auto;
    border:5px solid #003049;
    display:flex;
}
#container div{
    width: 150px;
    height:150px;
}
