<% layout('layouts/boilerplate') %> 
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new">Add a new Campground</a>
    <ul>
        <% for(let campground of campgrounds){%>
            <%if(campground.title){ %>
            <li><a href="/campgrounds/<%=campground._id%>"><%=campground.title%></a></li>
            <% } %> 
            <% } %> 
    </ul>
