<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New Camp</title>
</head>
<body>
    <h2>Add A New Camp</h2>
    <form action="/campgrounds" method="post">
        <label >Title</label>
        <input type="text" id="title" placeholder="Title">
        <label>Price</label>
        <input type="text" id="price" placeholder="Price">
        <label>Description</label>
        <textarea id="desc" rows="10" cols="30"></textarea>
        <label>Location</label>
        <input type="text" id="loc" placeholder="Location">
        <button>Submit</button>
    </form>
    
</body>
</html>