<% layout('layouts/boilerplate') %> 

    <h2>Add A New Camp</h2>
    <form action="/campgrounds" method="post">
        <div>
            <label >Title</label>
            <input type="text" id="title" name='campground[title]'>
        </div>
        <div>
            <label>Price</label>
            <input type="text" id="price" name='campground[price]'>
        </div>
        <div>
            <label>Description</label>
            <textarea id="desc" name="campground[description]" rows="10" cols="30"></textarea>
        </div>
       <div>
        <label>Location</label>
        <input type="text" id="loc" name='campground[location]'>
       </div>
        
        <button>Submit</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
